# Ignorar el entorno virtual
env_MontyHall/

# Ignorar archivos temporales de Python
*.pyc
__pycache__/

# Ignorar archivos de Jupyter Notebook Checkpoints
*.ipynb_checkpoints/

# Ignorar configuraciones locales de VS Code
.vscode/

# Ignorar archivos de datos grandes o sensibles
data/raw_data/
secrets.env

# Ignorar archivos específicos
Enviroment display.txt
Github upload.txt